body {
  width: 600px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

body > *:first-child {
  margin-top: 40px !important;
}

body > *:last-child {
  margin-bottom: 0 !important;
}

h1 {
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

svg,
pre,
footer {
  margin-top: 0;
  margin-bottom: 40px;
}

svg {
  border: 1px solid #000;
}

pre {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  font-family: "Inconsolata", monospace;
  line-height: 1.2;
}

footer {
  padding-top: 20px;
  border-top: 1px solid #ccc;
}

footer a {
  color: #000;
  text-decoration: none;
}
